{% extends 'base.html' %} 
{% block title %}Sales{% endblock %} 
{% block content %}
<div class="container">
  <h2>Sale List</h2>
  <br />
  <a href="{% url 'sale_item' %}" class="btn btn-primary">Sale Item</a>
  <br /><br />

  <table class="table table-striped">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Invoice Number</th>
        <th>Invoice Date</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in sales %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ sale.invoice_no }}</td>
        <td>{{ sale.invoice_date|date:"d-m-Y" }}</td>
        <td>{{ sale.customer.name }}</td>
        <td>{{ sale.total_amount }}</td>
        <td>
            <a href="{% url 'sale_details' sale.id %}"" class="btn btn-info">
                <i class="fas fa-eye"></i> View
            </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No purchases found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% comment %} {% url 'purchase_detail' purchase.id %}" {% endcomment %}