{% extends 'base.html' %}

{% block title %}Suppliers{% endblock %}

{% block content %}
<div class="container">
    <h2>Suppliers List :</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                {% comment %} <th>Status</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.contact }}</td>
                <td>{{ supplier.address }}</td>
                {% comment %} <td>{{ supplier.status|yesno:"Active,Inactive" }}</td> {% endcomment %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No suppliers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'supplier_add' %}" class="btn btn-primary">Add Suppliers</a>
</div>
{% endblock %}

{% comment %} {% url 'add_item' %} {% endcomment %}